<section id='records' class='<%= searching? ? 'list' : 'tree' %>'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render :partial => "/refinery/admin/make_sortable",
           :locals => {:tree => true} if @documents.many? && !searching? -%>
